<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    
    <script src="../js/home.js"></script>
    <script src="../js/request-status.js"></script>
    <script src="../js/global.js"></script>
    <link href="css/global.css" type="text/css" rel="stylesheet">
</head>
<body>
    {{#if troopNo}}
        {{#if type}}
            {{> adminNav}}
        {{else}}
            {{> nav}}
        {{/if}}
    {{else}}
        {{> nav}}
    {{/if}}

    <div class="container" id="WAT">
            <h1> Request Status </h1>
        <table id="requestStatus" class="datatable display table table-striped table-bordered" style="margin:20px; margin-left:0px; !important width:100%" data-toggle="table" data-search="true" style="padding:25px; color: black; border: 1px solid black; width: 100%"
        data-toggle="table" data-search="true">
            <thead>
                <tr style="background-color:#d3d3d3">
                    <th>Item name</th>
                    <th>Category</th>
                    <th>Date Borrowed</th>
                    <th>Date Return</th>
                    <th>Requested Quantity</th>
                    <th>Reason for request</th>
                    <th>Approval Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each requests}}
                    <tr>
                        <td>{{itemName}}</td>
                        <td>{{category}}</td>
                        <td>{{dateBorrow}}</td>
                        <td>{{dateReturn}}</td>
                        <td>{{quantity}}</td>
                        <td>{{reason}}</td>
                        <td style="text-align: center;"><span class="badge">{{status}}</span></td>
                    </tr>
                {{/each}} 
            </tbody>
        </table>
    </div>
    {{>footer}}
</body>
</html>